<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>zhuamosi</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="/css/zhuasimo.css"/>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>
<div  th:include="navigation::nav"></div>

<div class="container-fluid main">
    <div class="row">
        <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
            <h2><span class="glyphicon glyphicon-list-alt" aria-hidden="true"><span  th:text="${sectionName}"></span>></span></h2>
            <hr>
            <div class="media">
                <div class="media-left">
                    <img class="media-object img-rounded" src="https://avatars0.githubusercontent.com/u/23306912?v=4">
                </div>
                <div class="media-body">
                    <h4 class="media-heading">testTest</h4>
                    click pls!<br>
                    <span class="text-desc">2个回复 · 31次浏览 · 1小时前</span>
                </div>
            </div>
            <div class="media" th:each="question: ${paginations.questions}">
                <div class="media-left">
                    <img class="media-object img-rounded" th:src="${question.user.avatarUrl}">
                </div>
                <div class="media-body">
                    <h4 class="media-heading" th:text="${question.title}"></h4>
                    <span th:text="${question.description}"></span><br>
                    <span class="text-desc"><span th:text="${question.commentCount}"></span>个回复 ·
                <span th:text="${question.viewCount}"></span>次浏览 ·
                <span th:text="${#dates.format(question.gmtCreate,'yyyy-MM-dd')}"></span></span>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
            <div class="list-group">
                <a href="#" class="list-group-item active">
                    Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
            </div>
        </div>
    </div>

    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li th:if="${paginations.showFirstPage}">
                <a th:href="@{/(page=${1})}" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li th:if="${paginations.showPrevious}" class="previous">
                <a th:href="@{/(page=${paginations.currentPage-1})}"><span aria-hidden="true">&lt;</span></a>
            </li>

            <li th:each="page:${paginations.paginationList}" th:class="${paginations.currentPage==page}? 'active':''">
                <a th:href="@{/(page=${page})}" th:text="${page}"></a></li>
            <li th:if="${paginations.showNext}" class="next">
                <a th:href="@{/(page=${paginations.currentPage+1})}"><span aria-hidden="true">&gt;</span></a>
            </li>
            <li th:if="${paginations.showEndPage}">
                <a th:href="@{/(page=${paginations.totalPage})}" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>

</div>
</body>
</html>